body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

server-row {
    margin-bottom: 1rem;
}

/* Ajustes adicionales para la tabla dinámica */
.table-responsive {
    width: 100%;
    overflow-x: auto;
}

.dynamic-table input[type="text"], 
.dynamic-table input[type="number"] {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    font-size: 14px;
}

.dynamic-table td, .dynamic-table th {
    padding: 5px;
    text-align: left;
    white-space: nowrap;
}

.dynamic-table {
    width: 100%;
    border-collapse: collapse;
}

.dynamic-table th {
    background-color: #f2f2f2;
}

.dynamic-table td {
    border: 1px solid #ddd;
}

@media (max-width: 768px) {
    .dynamic-table td, .dynamic-table th {
        font-size: 12px;
        padding: 4px;
    }

    .dynamic-table input[type="text"], 
    .dynamic-table input[type="number"] {
        font-size: 12px;
    }
}
